*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,body{
    background: #666;
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a,
a:hover {
    text-decoration: none !important;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.flex-layout{
    display: flex;
}

.row-cols-xl-5>* {
    flex: 0 0 auto;
    width: calc(20% - 20px);
}

.product-item {
    background-color: #ffffff;
}

.product,
.cate {
    margin-left: -20px;
    margin-top: 35px;
    position: relative;
    padding: 0 20px;
}

.product-content {
    padding: 20px;
}

.product .product-item {
    margin-bottom: 20px;
    margin-left: 20px;
    position: relative;
    border-radius: 10px;
}

.product-img{
    position: relative;
}

.product .product-item .product-sale {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-wrap: wrap;
}

.product-item .product-img img {
    border-radius: 10px 10px 0 0;
}

.product-item .product-sale .sale {
    margin-right: 5px;
    background: #5aab19;
    color: #fff;
}

.product-item .product-sale .hot {
    background: #cc1414;
    color: #fff;
}

.product-item .product-sale>span {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    padding: 3px 10px;
    border-radius: 2px;
    display: block;
}

.product-name {
    font-size: 14px;
    color: #09432b;
    font-weight: 700;
}

.rating {
    font-size: 14px;
    color: #ff9300;
    letter-spacing: -2px;
    padding-top: 10px;
}

.product-price {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.price-new {
    font-size: 16px;
    color: #95ae00;
    margin-right: 10px;
    font-weight: 500;
}

.price-old {
    font-size: 16px;
    color: #a4a4a4;
    text-decoration-line: line-through;
}

.product-sold .sold-rule {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 7px;
    border-radius: 15px;
    background: #ebebeb;
}

.product-sold .sold-rule .sold-rule-count {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ee0505;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.sold-count {
    padding-top: 10px;
    font-size: 14px;
    color: #666666;
}

.product-cart {
    background-color: #f3f6f1;
    text-transform: uppercase;
    font-size: 13px;
    color: #999999;
    font-weight: 500;
    text-align: center;
    border-radius: 35px;
    padding: 10px 0;
}

.product .product-item .product-img img{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.product .product-item .product-hover{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.product-label div{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
}
.product-label div:not(:last-child){
    margin-right: 5px;
}

.product-item:hover .product-img img {
    opacity: 0.2;
}
  
.product-item:hover .product-hover {
    opacity: 1;
}