
/* * Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Rubik', sans-serif;
    height: 100%;
}

body {
    background-color: #f3f6f1;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a,
a:hover {
    text-decoration: none !important;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

body .page-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
}

header {
    background-color: #ffffff;
}

.size-24 {
    font-size: 24px;
}

.size-16 {
    font-size: 16px;
}

.size-14 {
    font-size: 14px;
}

.size-13 {
    font-size: 13px;
}

.size-40 {
    font-size: 40px;
}

.flex-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(50% - 20px);
}

.header-wrapper .logo-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #95ae00;
    position: relative;
    margin-left: -40px;
}

.logo-site {
    padding: 28px 40px;
    z-index: 2;
}

.logo-text {
    background-color: #95ae00;
    color: #fff;
    padding: 20px 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.mb-menu-toggle {
    color: #136040;
    font-weight: 500;
}

.main-menu {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 40px;
}

.phone-number {
    width: 410px;
    font-size: 13px;
    line-height: 1.3;
}

.phone-number h5 {
    color: #789e8e;
}

.phone-number span {
    color: #09432b;
}

.header-menu {
    height: 100%;
    width: 350px;
    max-width: 100%;
    overflow-x: auto;
    position: fixed;
    top: 0;
    left: -350px;
    background-color: #ffffff;
    z-index: 99;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.custom-menu li:hover,
.mega-dropdown .mega-content ul>li>a:hover {
    color: #5aab19;
}

li.custom-list__item {
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0 10px 15px;
}

.mega-dropdown {
    position: relative;
}

.mega-content {
    display: none;
    position: relative;
    visibility: hidden;
    opacity: 0;
    top: 0;
    opacity: 1;
    padding: 15px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.mega-dropdown .mega-content ul>li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.mega-dropdown .mega-content ul li {
    border-top: none;
    padding-bottom: 10px;
}

.mega-dropdown .mega-content ul>li>a {
    color: #666;
    font-weight: normal;
    -webkit-transition: padding-left 0.2s ease-in-out;
    -o-transition: padding-left 0.2s ease-in-out;
    transition: padding-left 0.2s ease-in-out;
    margin: 0 15px;
    text-transform: capitalize;
}

.mega-dropdown:hover .mega-content {
    display: block;
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.header-menu#header-menu.active {
    left: 0;
    color: #111111;
}

.user-setting {
    height: 100vh;
    width: 450px;
    max-width: 100%;
    overflow-x: auto;
    position: fixed;
    top: 0;
    right: -450px;
    background-color: #ffffff;
    z-index: 99;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.user-setting#user-setting.active {
    right: 0;
    color: #111111;
}

.settings-head {
    padding: 30px 40px;
}

.settings-inner {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 40px;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.language-currency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.language-currency .switcher {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.language {
    margin-right: 40px;
}

.language-currency .switcher-label {
    display: block;
    position: static;
    overflow: visible;
    margin: 0 0 20px;
    height: auto;
    width: auto;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    color: #000;
}

.language-currency .switcher .dropdown-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    visibility: visible;
    position: absolute;
    min-width: 120px;
    opacity: 0;
    left: 0;
    color: #1f2024;
    background-color: #ffffff;
    -webkit-box-shadow: 0 7px 29px 0 rgb(100, 100, 111, 0.2);
    box-shadow: 0 7px 29px 0 rgb(100, 100, 111, 0.2);
    -webkit-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 2;
    margin-top: -10px;
}

.language-currency .switcher:hover .dropdown-content {
    line-height: 1.5;
    opacity: 1;
    visibility: visible;
}

.dropdown-content li {
    padding: 5px 0;
}

.dropdown-content>li>a {
    padding: 8px;
}

.settings-inner .title {
    display: block;
    margin: 0 0 20px;
    height: auto;
    width: auto;
    font-size: 18px;
    font-weight: 500;
}

.setting-contact i {
    color: #ffd800;
    margin-right: 15px;
    padding-top: 2px;
}

.setting-contact .contact-info-wrap .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

.setting-social .social-links li {
    margin-right: 20px;
    font-size: 25px;
}

li.custom-list__item {
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

li.custom-list__item i {
    position: absolute;
    right: 0;
    z-index: 1;
    margin-right: 15px;
    color: #949090;
}

.header-search {
    width: 100%;
    background-color: #f3f6f1;
    border-radius: 60px;
}

.header-search .header-search__input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    color: #7d879c;
    font-size: 13px;
    padding: 0 0 0 20px;
}

.header-search .header-search__input input {
    outline: none;
    border: none;
    background: none;
}

.header-search__icon {
    padding-right: 20px;
    cursor: pointer;
}

input[type="text"] {
    width: 100%;
    height: 45px;
}

label.menu-btn {
    font-size: 24px;
    color: #09432b;
}

.user-nav {
    background-color: #95ae00;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 10px;
}

.user-nav h5 {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 15px;
}

.user-icon {
    position: relative;
}

.user-icon .icon-item {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    padding: 10px 12px;
}

.user-icon .icon-item:nth-child(3) {
    position: relative;
}

.qty-cart {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #fff;
    background-color: #95ae00;
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    font-size: 10px;
    position: absolute;
    line-height: 1;
    margin-top: 0;
    top: 0;
    right: -5px;
}

.header-wrapper.header-sticky.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    z-index: 99;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(215, 222, 211, 0.3);
}

/* end header */
.columns {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 80px;
}

.columns .column.main {
    width: calc(100% - 350px);
    padding: 0 25px;
}

.columns .sidebar-main {
    width: 350px;
}

.header-sidebar {
    height: 100%;
    width: 350px;
    max-width: 100%;
    z-index: 3;
    padding: 40px;
    background-color: #ffffff;
    border-right: 1px solid #dde3e9;
}

.slider-banner {
    margin-top: 40px;
}

#mb-sidebar-toggle,
.sidebar-text {
    display: none;
}

li.list-menu__item .list-menu__title {
    font-size: 13px;
    text-transform: uppercase;
    color: #7d879c;
    margin-bottom: 15px;
    font-weight: 500;
}

.list-menu__item {
    margin-bottom: 60px;
}

.submenu-item {
    font-size: 14px;
    color: #4b566b;
    text-transform: capitalize;
    margin-left: 15px;
}

.submenu-item-top {
    color: #09432b;
    font-weight: 500;
}

.submenu-item:hover{
    color: #95ae00;
}

.active,
.contact h5 {
    color: #95ae00;
}

.contact {
    padding-top: 35px;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
}

.contact .submenu .submenu-item span {
    text-transform: initial;
}

.contact .submenu .submenu-item {
    line-height: 1.8;
    padding-bottom: 10px;
}

.submenu-icon {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-left: 8px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.follow .submenu li:nth-child(3){
    box-shadow: 0px 5px 10px 0px rgba(255, 0, 0, 0.2);
}

.submenu li:not(:last-child) {
    padding-bottom: 18px;
}

.submenu .submenu-icon,
.follow .submenu li {
    padding-bottom: 0;
}

.submenu-icon>a {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}

.submenu-icon a>svg {
    position: absolute;
    top: 60%;
    left: 1px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.submenu-item .submenu-links {
    position: relative;
    padding-left: 25px;
}

.submenu-item .submenu-links::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #cde4da;
}

.submenu-item:not(:last-child) .submenu-links::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 13px;
    height: 30px;
    width: 1px;
    background-color: #ebebeb;
}

.follow ul.submenu {
    margin-top: 25px;
    margin-left: 10px;
}

.submenu-cate {
    border-right: 2px solid #aeb4be;
    border-radius: 2px;
    margin-right: -40px;
}

/* end sidebar */
.row>* {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.col-top.flex-layout,
.col-top .row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.banner-item img,
.slider-img img {
    border-radius: 15px;
}

/* .col-slider {
    width: 850px;
    max-width: 100%;
}

.col-banner-left,
.col-banner-right {
    width: 300px;
    max-width: 100%;
} */

.col-slider {
    margin-right: 10px;
}

.col-banner-left {
    margin: 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.col-banner-right {
    margin-left: 10px;
}

.banner-item,
.col-slider {
    position: relative;
}

.banner-item .banner-content h4 {
    line-height: 1.3;
    letter-spacing: -1px;
}

.banner-item .banner-content p {
    margin-top: 15px;
}

.col-slider .slider-content {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #ffffff;
    margin-left: 80px;
}

.slider-content .trend {
    text-transform: uppercase;
    background-color: #ee0505;
    padding: 4px 15px;
    border-radius: 2px;
    margin-bottom: 35px;
    box-shadow: 0px 7px 10px 0px rgba(238, 5, 5, 0.25);
}

.slider-content .size-40 {
    text-transform: capitalize;
    line-height: 1.3;
    letter-spacing: -2px;
}

.slider-content p {
    font-size: 18px;
    padding-top: 7px;
}

.slider-content .btn {
    color: #09432b;
    text-transform: uppercase;
    font-weight: 500;
    padding: 14px 55px;
    border-radius: 50px;
    background-color: #fff;
    margin-top: 55px;
}

.banner-item .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 2;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    margin: 35px 0 0 40px;
}

.banner-content .price-free span {
    color: #ffb400;
    font-size: 30px;
}

.banner-content .price-free span.size-16 {
    font-size: 16px;
    vertical-align: super;
}

/* end slider and banner */
.service {
    margin-top: 40px;
    margin-bottom: 40px;
}

.service .col-auto .col-content {
    position: relative;
}

.content h6 {
    font-size: 13px;
    color: #09432b;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 7px;
}

.content p {
    font-size: 14px;
    color: #4b566b;
}

/* end service */
.flash-sale {
    padding-top: 30px;
}

.flash-sale .title-deal h3 {
    margin-right: 20px;
}

.title-deal h3 {
    font-size: 24px;
    color: #09432b;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: -1px;
}

.time-sale {
    background-color: #ee0505;
    color: #fff;
    border-radius: 55px;
    padding: 7px 20px;
    font-size: 14px;
    letter-spacing: 1px;
}

.line-center {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 100%;
    border-bottom: 1px solid #dde3e9;
    margin: 0 20px
}

.see-next .chevron-left {
    border: 1px solid #e3e8ed;
    margin-right: 7px;
}

.see-next .chevron {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    color: #e3e8ed;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flash-sale .see-next .chevron-right {
    background-color: #95ae00;
    color: #fff;
}

.product-item {
    background-color: #ffffff;
}

.product {
    margin-bottom: 55px;
}

.row-cols-2>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(50% - 20px);
}

/* end flash-sale */
.category {
    margin-bottom: 45px;
}

.cate {
    margin-left: -20px;
}

.cate-item {
    background-color: #fff;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.cate-item:hover{
    transition: all .7s;
    box-shadow: 0px 10px 20px 0px rgba(9, 67, 43, 0.08);
}

.cate-item:hover .cate-title {
    color: #95ae00;
}

.cate-body {
    padding: 50px 0;
}

.cate-title {
    font-size: 14px;
    color: #09432b;
    font-weight: 500;
    text-transform: capitalize;
}

.cate-content {
    padding-top: 15px;
}

.cate-count {
    padding-top: 5px;
    font-size: 13px;
    color: #7d879c;
}

/* end cate */
/* product sell */
.product-sell {
    margin-bottom: 7px;
}

.product-filter li {
    font-size: 13px;
    color: #7d879c;
    text-transform: capitalize;
    margin-right: 10px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    padding: 10px 20px;
    border-radius: 20px;
}

.product-filter li:hover {
    color: #ffffff;
    background-color: #95ae00;
}

.product,
.cate {
    margin-left: -20px;
    margin-top: 25px;
    position: relative;
}

.product-content {
    padding: 7px 20px 20px 20px;
}

.product .product-item {
    margin-bottom: 20px;
    margin-left: 20px;
    position: relative;
    border-radius: 10px;
}

.product .product-item .product-sale {
    position: absolute;
    top: 20px;
    left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-item .product-img img {
    border-radius: 10px 10px 0 0;
}

.product-item .product-sale .sale {
    margin-right: 5px;
    background: #5aab19;
    color: #fff;
    box-shadow: 0px 7px 10px 0px rgba(90, 171, 25, 0.2);
}

.product-item .product-sale .hot {
    background: #fe3638;
    color: #fff;
    box-shadow: 0px 7px 10px 0px rgba(254, 54, 56, 0.2);
}


.product-item .product-sale>span {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    padding: 3px 10px;
    border-radius: 2px;
    display: block;
}

.product-name {
    font-size: 14px;
    color: #09432b;
    font-weight: 700;
}

.rating span{
    letter-spacing: -5px;
}

.product-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 12px 0;
}

.price {
    color: #09432b;
    font-weight: 500;
}

.price-new {
    color: #95ae00;
    margin-right: 10px;
    font-weight: 500;
}

.price-old {
    font-size: 14px;
    color: #a4a4a4;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    margin-top: 2px;
}

.product-sold .sold-rule {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 7px;
    border-radius: 15px;
    background: #ebebeb;
}

.product-sold .sold-rule .sold-rule-count {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #ee0505;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.sold-count {
    padding-top: 5px;
    font-size: 14px;
    color: #666666;
}

.product-cart {
    background-color: #f3f6f1;
    text-transform: uppercase;
    font-size: 13px;
    color: #999999;
    font-weight: 500;
    text-align: center;
    border-radius: 35px;
    padding: 10px 0;
}

.product .product-item .product-img img {
    opacity: 1;
    display: block;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.product .product-item .product-hover {
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.product-label {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.product-label a>img {
    stroke: #fff;
}

.product-label div {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
}

.product-label div:not(:last-child) {
    margin-right: 5px;
}

.product-item:hover .product-img img {
    opacity: 0.2;
}

.product-item:hover .product-hover {
    opacity: 1;
}

.product-item:hover .product-cart {
    background-color: #95ae00;
    color: #ffffff;
}

.product-item:hover {
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(9, 67, 43, 0.08);
    box-shadow: 0px 10px 20px 0px rgba(9, 67, 43, 0.08);
}

/* banner bottom */
.banner-bottom {
    margin-bottom: 50px;
}

.banner-bottom__card {
    margin-left: -20px;
}

.banner-bottom__item {
    position: relative;
    margin-left: 20px;
    margin-bottom: 20px;
}

.banner-bottom__img img {
    border-radius: 10px;
}

.banner-bottom__content .size-24 {
    color: #ffffff;
    text-transform: capitalize;
}

.banner-bottom__content .size-24 span {
    color: #fcd002;
}

.banner-bottom__content .size-16 {
    margin-top: 30px;
    color: #ffffff;
    text-transform: capitalize;
    letter-spacing: 0px;
}

.banner-bottom__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 2;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 45px;
    letter-spacing: -1px;
}

/* reviews */
.reviews {
    margin-bottom: 30px;
}

.reviews-col {
    margin-left: -20px;
}

.reviews-item {
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.reviews-body {
    padding: 29px;
}

.reviews-body .rating {
    padding-top: 0;
}

.reviews-content {
    font-size: 14px;
    color: #4b566b;
    padding: 10px 0 17px 0px;
    line-height: 1.7;
}

.reviews-thumb {
    margin-bottom: 20px;
}

.reviews-role {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.role-name {
    line-height: 1.286;
    margin-left: 10px;
}

.role-name .size-14 {
    color: #95ae00;
    text-transform: capitalize;
    font-weight: 500;
}

.role-name .size-13 {
    color: #7d879c;
}

/* newletter */
.newletter {
    background-image: url('./images/bg-newletter.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-left: -25px;
    margin-right: -25px;
}

.newletter-body {
    padding: 90px 15px;
}

.newletter-content h5 {
    text-transform: uppercase;
    color: #95ae00;
    font-weight: 500;
    margin-bottom: 5px;
}

.newletter-content h3 {
    text-transform: capitalize;
    color: #09432b;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.newletter-content p {
    color: #4b566b;
    margin-top: 20px;
    margin-bottom: 35px;
}

.newletter-body .newletter-form .form.subcribe {
    width: 100%;
}

.newletter-form .form.subcribe {
    max-width: 611px;
    max-height: 50px;
    margin: auto;
    padding: 3px 3px 3px 0;
    border-radius: 55px;
    background-color: #fff;
}

.newletter-form .form.subcribe .form-input input {
    border: none;
    outline: none;
}

input[type="email"] {
    width: 100%;
    height: 50px;
}

.newletter-form .form.subcribe .form-input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 0 0 20px;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
    font-size: 13px;
    color: #7d879c;
}

.newletter-form .form.subcribe .form-button .size-13 {
    color: #ffffff;
    background-color: #95ae00;
    text-transform: uppercase;
    border: none;
    padding: 12px 33px;
    border-radius: 30px;
}

.newletter-checkbox {
    margin-top: 20px;
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.newletter-checkbox label {
    position: relative;
}

.newletter-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.newletter-checkbox .checkmark {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -20px;
    height: 12px;
    width: 12px;
    border-radius: 2px;
    background-color: #95ae00;
}

.newletter-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.newletter-checkbox .checkmark:after {
    inset: 0;
    margin: auto;
    margin-bottom: 3px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.newletter-checkbox input:checked~.checkmark:after {
    display: block;
}

.newletter-checkbox .size-14 {
    color: #7d879c;
}

/* footer */
.page-footer {
    background-image: url('./images/bg-footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #09432b;
    margin-left: -25px;
    margin-right: -25px;
}

.footer-top {
    padding: 75px 8px 0 8px;
    margin-bottom: 70px;
    color: #cde4da;
    border-bottom: 1px solid rgba(245, 245, 245, .15);
}

.footer-title {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-app .footer-content p:first-child{
    max-width: 280px;
}

.footer-content p {
    font-size: 14px;
    padding-bottom: 15px;
}

.about-store .footer-content p{
    padding-bottom: 10px;
}

.footer-phone__number {
    padding-bottom: 5px;
}

.about-store .footer-content .phone-contact p {
    padding-bottom: 0;
}

.phone-contact {
    margin-top: 10px;
    margin-left: 10px;
}

.phone-contact p:last-child {
    font-size: 24px;
    color: #95ae00;
}

li.footer-list {
    font-size: 14px;
    padding-bottom: 13px;
    text-transform: capitalize;
}

li.footer-list a:hover {
    color: #95ae00;
    padding-left: 10px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.app-links {
    background-color: #084d30;
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.apple-icon {
    margin-right: 10px;
}

.chplay-icon{
}

.app-links__down {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 20px;
}

.app-links__down span:first-child {
    font-size: 10px;
    color: #8db7a5;
}

.app-links__down span:last-child {
    font-size: 11px;
    text-transform: uppercase;
}

.coupon span {
    color: #95ae00;
}

.coupon {
    margin-top: 20px;
}

.footer-bottom {
    color: #ffffff;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 58px;
}

.footer-bottom__list {
    font-size: 12px;
    text-transform: uppercase;
}

li.footer-bottom__list:not(:last-child) {
    padding-right: 20px;
    line-height: 1;
    border-right: 1px solid;
    border-color: rgba(245, 245, 245, .15);
}

li.footer-bottom__list:not(:first-child) {
    padding-left: 20px;
    line-height: 1;
}

.pay-icon {
    margin-top: 27px;
    margin-bottom: 25px;
}

.copyright {
    font-size: 14px;
}

.copyright span {
    color: #95ae00;
}

.footer-title i,
.list-menu__title i {
    display: none;
}

@media only screen and (max-width:1399px) {
    .service .col-auto:last-child {
        display: none;
    }

    .slider-content .trend {
        margin-bottom: 15px;
    }

    .slider-content .btn {
        margin-top: 25px;
    }

    .product-sell .super-title .line-center {
        display: none;
    }
}

@media (max-width: 1440px) and (min-width: 992px) {
    .slider-content .size-40 {
        font-size: 2.548vw;
    }

    .banner-content .size-24 {
        font-size: 1.250vw;
    }

    .banner-content .size-16 {
        font-size: 0.933vw;
    }
    .col-banner-left {
        margin: 0 5px;
    }
    .phone-number {
        width: 210px;
    }
}

@media only screen and (max-width: 1024px) {
    .col-banner-right {
        display: none;
    }

    .columns .column.main {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
        padding: 0px;
    }

    .col-slider {
        margin-top: 0;
    }

    .slider-content .size-40 {
        font-size: 40px;
    }

    .col-slider {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
    }

    .slider-img img {
        width: 100%;
    }

    #header-sidebar,
    .submenu-item i {
        display: none;
    }

    .header-sidebar.active#header-sidebar {
        display: block;
    }

    .header-sidebar {
        position: fixed;
        top: 0;
        border: 0;
        padding: 0;
        z-index: 99;
    }

    .list-menu__item {
        margin-bottom: 20px;
    }

    .list-menu__title {
        margin-bottom: 25px;
    }

    .list-menu {
        margin-top: 20px;
        padding-left: 25px;
    }

    .submenu-cate {
        border: 0;
    }

    #mb-sidebar-toggle {
        display: block;
        position: fixed;
        left: 0;
        top: 50%;
        padding: 8px;
        font-size: 25px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: rgb(253, 247, 247);
        border: 1px solid #ebebeb;
        z-index: 1;
    }

    .sidebar-text,
    .list-menu__title i {
        display: block;
    }

    .menu-sidebar .sidebar-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        background-color: #95ae00;
        padding: 25px;
        color: #fff;
        font-size: 18px;
    }

    .list-menu__title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
    }

    .list-menu__title i {
        margin-right: 15px;
    }

    .submenu.submenu-cate {
        display: none;
        position: relative;
        width: 100%;
        left: 0;
        opacity: 0;
        visibility: visible;
    }

    .list-menu__item:hover .submenu.submenu-cate {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    .newletter,
    .page-footer {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width:1199px) {

    .phone-number,
    .col-banner-left {
        display: none;
    }

    .banner-bottom__content .size-16 {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 991px) {
    body .page-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-wrapper .logo-container {
        margin-left: 0;
    }

    .slider-banner .page-container {
        padding-right: 0;
        padding-left: 0;
    }

    .banner-item img,
    .slider-img img {
        border-radius: 0;
    }

    .service .row {
        margin-right: calc(var(--bs-gutter-x) * -.5);
        margin-left: calc(var(--bs-gutter-x) * -.5);
    }

    .col-slider {
        margin-top: 45px;
    }

    .line-center {
        display: none;
    }

    .header-wrapper .logo-container {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .main-menu {
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px 0;
    }

    .title-deal h3 {
        font-size: 20px;
    }

    .product-filter {
        display: none;
    }

    .product-label {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .product-label div {
        margin-bottom: 5px;
    }

    .product .product-item .product-hover {
        opacity: 1;
        position: absolute;
        top: 15px;
        right: 15px;
        left: unset;
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
    }

    .product-item:hover .product-img img {
        opacity: inherit;
    }

    .product-label .search {
        display: none;
    }

    .service .col-auto:nth-of-type(1),
    .service .col-auto:nth-of-type(2) {
        margin-bottom: 20px;
    }

    .service .col-content {
        background-color: #fff;
        border-radius: 2px;
        padding: 20px;
    }

    .footer-top {
        margin-bottom: 25px;
    }

    .footer-bottom__menu {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .columns {
        margin-top: 10px;
    }

    .columns .column.main,
    .slider-banner,
    .col-slider {
        margin-top: 0;
    }

    .number {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 -75% 0 0;
    }

    .header-nav {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        margin-top: 10px;
    }

    .user-icon li:nth-of-type(1),
    .user-nav h5 {
        display: none;
    }

    .user-icon a {
        margin-right: 15px;
    }

    .user-nav {
        border-radius: 50%;
        padding: 10px 12px;
        margin-left: 0;
    }

    .user-nav img {
        width: 20px;
        height: 20px;
    }

    .header-wrapper.header-sticky.sticky {
        position: unset;
    }

    .banner-bottom__content .size-16 {
        margin-top: 10px;
    }

    .footer-top {
        border: 0;
        margin-bottom: 35px;
    }

    .footer-top__link .footer-links {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .footer-title i {
        display: block;
    }

    .footer-links {
        background-color: #136040;
        border-radius: 2px;
        position: relative;
        display: inline-block;
    }

    .footer-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
        padding: 15px 20px;
        position: relative;
    }

    .footer-content {
        display: none;
        position: relative;
        width: 100%;
        left: 0;
        opacity: 0;
        visibility: visible;
        background-color: #136040;
        padding-left: 20px;
    }

    .footer-links:hover .footer-content {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    .footer-bottom {
        padding-top: 0;
        border: 0;
    }
}

@media only screen and (max-width: 575px) {
    .slider-content .size-13 {
        font-size: 8px;
    }

    .slider-content .size-40 {
        font-size: 21px;
    }

    .slider-content p {
        font-size: 11px;
    }

    .slider-content a {
        display: none;
    }

    .time-sale span {
        display: none;
    }

    .product-label div {
        width: 30px;
        height: 30px;
    }

    .banner-bottom__img img {
        width: 100%;
    }

    .banner-bottom__item,
    .banner-bottom__card,
    .reviews-col,
    .reviews-item {
        margin-left: 0;
    }

    .newletter-content br {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .slider-content .trend {
        margin-bottom: 15px;
    }

    .slider-content .btn {
        margin-top: 25px;
    }

    .col-slider .slider-content {
        margin-left: 35px;
    }
}

@media only screen and (max-width: 375px) {
    .product .product-item .product-sale {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .banner-bottom__content .size-24 {
        font-size: 21px;
    }

    .product-item .product-sale .sale {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .flash-sale .super-title {
        -webkit-box-align: unset !important;
        -ms-flex-align: unset !important;
        align-items: unset !important;
    }

    .flash-sale .title-deal {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
        align-items: flex-start !important;
    }
}

@media only screen and (max-width: 325px) {
    .newletter-checkbox .checkmark {
        top: 25%;
        left: 0;
    }
}

@media (min-width: 1366px) {
    .service .col-auto {
        width: auto !important;
    }
}

@media (min-width:1200px) {
    body .header-wrapper .header-nav {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    body .page-container {
        max-width: 1520px;
    }

    .cate .col-xl-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: calc(14.28% - 20px);
    }

    .banner-bottom__content .size-24 {
        font-size: 1.250vw;
    }

    .banner-bottom__content .size-16 {
        font-size: 0.833vw;
    }

    .reviews-col .reviews-item.col-xl-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: calc(25% - 20px);
    }

    .product.row-cols-xl-5>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: calc(20% - 20px);
    }

    .banner-bottom__card .banner-bottom__item.col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: calc(33.33333333% - 20px);
    }

    .footer-top .footer-top__link .footer-links {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .footer-top__link .footer-links.about-store {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .footer-top__link .footer-links.footer-app {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 370px;
    }
}

@media (min-width: 992px) {
    .page-main,.container-header{
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
    .container-header {
        padding-right: 40px;
        padding-left: 40px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: auto;
    }

    .reviews .reviews-item.col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: calc(25% - 20px);
    }

    .service .col-auto {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .service .col-auto:not(:last-child) .col-content::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        border-right: 1px solid #ebebeb;
    }

    .service .row {
        padding: 30px 0;
        background-color: #ffffff;
        border-radius: 15px;
    }

    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: calc(25% - 20px);
    }
}

@media (min-width:768px) {
    .header-search {
        max-width: 600px;
        margin-left: 12px;
        margin-right: 40px;
    }

    .my-account {
        display: none;
    }

    .row-cols-md-3>* {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: calc(33.3333333333% - 20px);
    }

    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: calc(25% - 20px);
    }

    .reviews-item.col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: calc(50% - 20px);
    }

    .footer-top__link .footer-links {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .footer-links {
        margin-bottom: 40px;
    }
}

@media (min-width:576px) {
    .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: calc(33.33333333% - 20px);
    }

    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: calc(50% - 20px);
    }
}